= widget_div do
  %h1 Category
  = form_for :menu_item, :url => url_for_event(:submit), :remote => true do |f|
    %fieldset
      = f.hidden_field :navigable_type, :value => "Category"
      = f.collection_select :navigable_id, @categories, :id, :name
    = f.submit "Save Menu Item"
